/* #region Common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.user{
    font-size: 0.75rem;
    background-color: gray;
    padding: 0.25rem;
    border-radius: 5px;
    position: absolute;
    bottom: 7px;
}

body{
    color: white;
}

/* #endregion Common */

/* #region Main */

#site_main{
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: black;
}

.speaker_view,
.expand{
    background-color: gray;
    padding: 0.25rem;
    border-radius: 5px;
    margin: 10px 3px;
}

.view{
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.cam{
    width: 1200px;
    margin: 0 auto;
}


.card{
    position: relative;
    margin: 0.5rem 0.25rem;
}

/* #endregion Main */

/* #region Footer */

.navbar{
    height: 60px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;

}

.navbar i{
    font-size: 1.5rem;
}

.angle_up{
    align-self: center;
}

.mute,
.stop{
    text-align: center;
    margin-left: 1rem;
}

.main_menu > div{
    text-align: center;
    margin-left: 1rem;
}

.main_menu > i{
    font-size: 1rem;
}

.green{
    color: limegreen;
}

.end_meeting{
    height: 60px;
    width: 100px;
    color: red;
    background-color: #4A4A4A;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

/* #endregion Footer */